
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div>
    <input id="Usuario" type="text" />
    <hr />
    <input id="Clave" type="password" />
    <hr />
    <input id="Iniciar" type="button" value="Inicio" />
</div>
