
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    
<div class="form-horizontal" style="padding:8% 0 8% 0;">
    <h2 class="text-center" style="margin: 3% 0 2% 0; )">Login</h2>

    @Html.TextBox("Usuario", "", new { id = "Usuario", @class = "form-control center-block text-center", placeholder = "Usuario", @style = "margin-bottom: 2%;" })

    @Html.Password("Clave", "", new { id = "Clave", Textmode = "Password", @class = "form-control center-block text-center", placeholder = "Clave", @style = "margin-bottom: 2%;" })
    <input class="btn btn-danger btn-lg btn-block center-block" id="Iniciar" type="submit" value="Iniciar" onclick="Login();" />
</div>
        }

        @section Scripts{
            @Scripts.Render("~/bundles/jqueryval")
        }
        <script type="text/javascript">
            function Login() {
                var usuario = $("#Usuario").val();
                var password = $("#Clave").val();

                if (usuario == '') {
                    alert('Indique el usuario');
                    $("#Usuario").focus();
                    return false;
                }
                if (password == '') {
                    alert('Indique la Contraseña');
                    $("#Clave").focus();
                    return false;
                }
                return true;
            }

        </script>
